<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies API</title>
</head>
<body>
<h1>Movies API</h1>
<h4>Simple RESTful API for getting and posting movies. Developed using Python, Flask, PostgreSQL, SQLAlchemy.</h4>
<hr>
    <h2>Routes index:</h2>
    <p><a href="/smoke">001. Smoke</a></p>
    <p><a href="/swagger">002. Swagger</a></p>
    <p><a href="/movies">003. GET all movies</a>
        <br>&emsp;Add /uuid to get a particular movie by its uuid in a DB.
        <br>&emsp;POST, PUT, PATCH and DELETE methods also allowed. Please use f. e. Swagger</p>
    <p><a href="/actors">004. GET all actors</a>
        <br>&emsp;POST (requires authentication) and DELETE (requires authorization, admin's token) methods also allowed. Please use f. e. Postman</p>
    <p><a href="/aggregations">005. GET some aggregated values from the DB using SQLAlchemy</a>
    <p><a href="/register">006. User registration</a>
    <p><a href="/login">007. User authentication</a>
    <hr>
    <form id="populate_db_form" action="/populate" method="post">
      <button value="Submit" type="submit">Populate DB with some pre-defined movies and actors</button>
    </form>
    <h4>The following section currently doesn't work due the changes in IMDb to avoid parsing.
    Thus, the parser requires adaptation for another web source.</h4>
    <form id="populate_db_s_form" action="/populate/sequentially" method="post">
      <button value="Submit" type="submit">Parse top 10 movies from IMDb and add them to the DB sequentially</button>
    </form>
    <form id="populate_db_t_form" action="/populate/threads" method="post">
      <button value="Submit" type="submit">Parse top 10 movies from IMDb and add them to the DB using multithreading</button>
    </form>
    <form id="populate_db_p_form" action="/populate/processes" method="post">
      <button value="Submit" type="submit">Parse top 10 movies from IMDb and add them to the DB using multiprocessing</button>
    </form>
<script>
    const baseHref = window.location.href;

    function get_ajax_object(href_end) {
        return {
            type: 'POST',
            url: window.location.href + href_end,
            dataType: 'json',
            contentType: 'application/json',
            success: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(JSON.parse(XMLHttpRequest.responseText).message);
                window.location.href = baseHref;
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(JSON.parse(XMLHttpRequest.responseText).message);
                window.location.href = baseHref;
            }
        }
    }

    const forms = {
        #populate_db_form: "/populate",
        #populate_db_s_form: "/populate/sequentially",
        #populate_db_t_form: "/populate/threads",
        #populate_db_p_form: "/populate/processes"
    }

    for (const [key, value] of Object.entries(forms)) {
        $(key).on('submit', function(event) {
            event.preventDefault();
            $.ajax(get_ajax_object(value));
        });
    }
</script>

</body>
</html>