[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-swagger-ui = "*"
marshmallow-sqlalchemy = "*"
pyjwt = "*"
pycodestyle = "*"
gunicorn = "*"
importlib-metadata = "*"
psycopg2 = "*"
bs4 = "*"
requests = "*"
psycopg2-binary = "*"
sanic = "*"
aiopg = "*"
flake8 = "*"
wheel = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.10"
